:root {
    --main-bg-color: #000;
    --main-text-color: #fff;
    --prompt-color: #fff; /* Default prompt color */
}

body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    transition: background-color 0.3s, border-color 0.3s;
}



.terminal-container {
    padding: 20px;
    box-sizing: border-box;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000000;
    padding: 10px 0px;
    transition: background-color 0.3s, border-color 0.3s;
}

.logo img {
    height: 75px;
    width: auto;
    transition: filter 0.5s;
}

.title {
    font-size: 18px;
    margin: 0;
    font-weight: lighter;
}

#themeToggle {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    font-weight: lighter;
}

.terminal {
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.4;
    min-height: 100px;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 0.01cm solid var(--main-text-color);
    max-width: 100%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: lighter;
}

#terminal-content {
    flex-grow: 1;
}

.output-line, .input-line {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;

}

.ascii-art {
    font-family: 'Courier New', monospace;
    white-space: pre;
    line-height: 1.2;
    font-size: 12px;
    color: inherit;
}


.input-line {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-direction: row;
    height: 100hv;
    padding: 0px;
    box-sizing: border-box;
    color: var(--main-text-color);
}

.prompt {
    color: #fff;
    margin-right: 5px;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-text {
    color: #0f0;
    font-family: 'JetBrains Mono', monospace;
    word-break: break-all;
    font-size: 14px;
    flex-grow: 1;
}

.cursor {
    position: relative;
    display: inline-block;
    width: 4px;
    height: 14px;
    background-color: #0f0;
    animation: blink 1s step-end infinite;
    vertical-align: middle;
    margin-left: 0px;
}

#output {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    font-weight: lighter;
}

#audio-visualizer {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    border: 1px solid #fff;
}

/* New styles for customizing output */
.output-line {
    color: #fff; /* Default color, can be overridden */
}

.output-line.error {
    color: #ff0000;
}

.output-line.success {
    color: #00ff00;
}

.output-line.warning {
    color: #ffff00;
}

.output-line.info {
    color: #00ffff;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@media (max-width: 768px) {
    .terminal {
        font-size: 14px;
    }

    .banner {
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        margin: 10px 0;
    }
}