@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000; /* Changed to black for better default contrast */
}

@layer base {
  html {
    font-family: 'JetBrains Mono', monospace;
  }
}

a {
  text-decoration: inherit;
}

/* a:hover {

} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 0px;
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
